
*{ /*resetando config margin e padding na pagina toda*/
    margin: 0; 
    padding: 0;
}
body{ /* todo o conteudo visual da pagina*/
    background-color: rgb(62, 58, 58); /* cor do fundo*/
    color:rgb(255, 255, 255); /*cor da fonte*/
    height: 100vh; /* 100% tamanho da tela*/
    box-sizing: border-box; /* limitar a margem*/
}


.destaque_titulo{ /*destaque*/
    color:#e60909; /*cor da fonte*/
}

.apresentacao{ /*main*/
    margin: 10% 15%; /*topo/fundo - direita/esquerda*/
    display: flex; 
    align-items: center; /*colunas centralizadas*/
    justify-content: space-between; /*espaco entre as colunas*/
}

.apresentacao_texto{ /*section coluna esquerda*/
    display: flex; /*h1 p div */
    flex-direction: column;
    width: 50%; /*section ocupa 50% de largura da caixa main*/
    gap: 40px; /*espaco entre as caixa(tags) dentro da coluna*/
}

.apresentacao_links{ /*div- coluna esquerda*/
    display: flex;
    justify-content: space-between; /*espaco entre caixas*/
    direction: row;
}

.apresentacao_texto_texto{ /*tag p*/
    font-size: 20px;
    margin-right: 15px;
}

.apresentacao_texto_titulo{
    font-size: 30px;
}

.apresentacao_links_link{ /*a*/
    background-color: #e60909; /*cor de fundo*/
    width: 280px; /*largura do botao*/
    border-radius: 16px; /*arredondamento da borda*/
    font-size: 24px; /*tamanho da fonte*/
    font-weight: 600px; /*peso da fonte*/
    padding: 21.5px 0; /*espaco entre texto e borda do botao*/
    text-decoration: none;/*tirar sublinhado do texto*/
    color: #ffffff; /*cor da fonte*/
    font-family: 'Channel', 'Channel'; /* fonte do botao*/
    text-align: center; /*alinhamento do texto no centro do botao*/
}
